@import url("https://fonts.googleapis.com/css?family=ABeeZee");

$green: #1DB954;
$black: #141414;
$lwhite: #f1f0f0;
$gray: #2c3640;

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
  
body{
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    background-color: $black;
    color: white;
}

@mixin imgProps ($height,$width) {
    height: $height;
    width: $width;
}

.App, .MovieInfo {
    text-align: center;
    .AppTitle {
        width: fit-content;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 50px;
        h1 {font-size: 36px; margin-bottom: 30px;}
        img {@include imgProps(50px,50px);}
    }
    .Search {
        border: 1px solid white;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 60px;
        background-color: $gray;
        width: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        input {background-color: $gray; width: 93%; height: 40px; color: $lwhite; font-size: 24px; outline: none}
        img {@include imgProps(50px,50px); width: 35px; height: 35px; cursor: pointer;}
    }
    .Movies {
        margin: 0 10px;
        margin-bottom: 30px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px 20px;
        .Movie {
            border-radius: 12px;
            width: 250px;
            height: 330px;
            margin-bottom: 80px;
            img {filter: brightness(80%); @include imgProps(100%, 100%); border-radius: inherit; object-fit: cover; box-shadow: 0px 0px 4px 4px $green;}
            img:hover{filter: brightness(40%);}
            .Title, .Year {
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 20px;
            }
            .Title .text{
                transform: translateX(100%);
                animation: my-animation 14s linear infinite;
            }
            @keyframes my-animation {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(-100%);
                }
            }
        
        }
        .Movie:hover {cursor: pointer;}
    }
    .attribution {
        width: 30%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: $black;
    }
    footer p {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    footer hr {
        border-top: 1px solid $lwhite;
        margin: 0 20px;
    }
}

.MovieInfo {
    padding-top: 40px;
    .Poster {
        height: 480px;
        width: 350px;
        border-radius: 12px;
        margin: 0 auto;
        margin-bottom: 30px;
        img {@include imgProps(100%, 100%); margin-bottom: 30px; border-radius: inherit;}
    }
    .InfoOverview {
        width: 50%;
        margin: 0 auto;
        p {text-align: justify; line-height: 25px;}
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 539px) {
    .Search {
        width: 70% !important;
    }
    .Title {
        overflow: initial !important;
        white-space: initial !important;
        .text {
            animation: none !important;
            transform: none !important;
        }
    }
    .attribution{
        width: 80%;
    }
}
